*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
html,body{
    background-color: #ffffff;
}
.top{
    width: 100%;
    height: 1rem;
    position: relative;
}
.top img{
    width: 0.2rem;
    height: 0.16rem;
    position: absolute;
    top: 0.36rem;
    left: 0.24rem;
}
.top span{
    display: block;
    font-size: 0.32rem;
    color: #ff649b;
    text-align: center;
    line-height: 1rem;
}
.center{
    width: 100%;
    min-height: 100%;
    background: #f5f5f5;
    border-top: 0.2rem solid #f5f5f5;
}
.center .other{
    width: 7.02rem;
    height: auto;
    margin: 0 auto;
}
.center .other .point{
    width: 100%;
    height: 2.38rem;
    background: #fff;
    margin-bottom: 0.04rem;
    position: relative;
}
.center .other .point .img1{
    width: 1.9rem;
    height: 1.9rem;
    position: absolute;
    top: 0.24rem;
    left: 0.24rem;
    overflow: hidden;
}
.center .other .point img{
    width: 3rem;
    height: 1.97rem;
    margin-left: -0.5rem;
}
.center .other .point .right{
    width: 4.4rem;
    height: 2.9rem;
    position: absolute;
    top: 0.25rem;
    left: 2.38rem;
}
.center .other .point .right span:nth-child(1){
    font-size: 0.26rem;
    color: #666666;
    position: absolute;
    top: 0;
    left: 0;
}
.center .other .point .right span:nth-child(2){
    font-size: 0.18rem;
    color: #999999;
    position: absolute;
    top: 0.38rem;
    left: 0;
}
.center .other .point .right .on{
    width: 100%;
    height: 0.14rem;
    position: absolute;
    top: 0.85rem;
    left: 0;
}
.center .other .point .right .on .color{
    width: 0.1rem;
    height: 0.06rem;
    border-radius: 0.03rem;
    background: #ff649b;
    margin-top: 0.03rem;
    float: left;
}
.center .other .point .right .on span{
    font-size: 0.12rem;
    color: #b2b2b2;
    float: left;
    display: block;
    position: absolute;
    top: -0.03rem;;
    left: 0.14rem;
}
.center .other .point .right .on:nth-child(4){
    position: absolute;
    top: 1.09rem;
    left: rem;
}
.center .other .point .right .on:nth-child(4) .color{
    background: #74affd;
}
.center .other .point .right .other{
    position: absolute;
    top: 1.55rem;
    left: 0;
    height: 0.39rem;
    width: 3.6rem;
    display: flex;
    justify-content: space-between;
}
.center .other .point .right .other .one{
    width: 1.05rem;
    height: 0.4rem;
    background: #ff4264;
    color: #fff;
    font-size: 0.21rem;
    line-height: 0.4rem;
    text-align: center;
    border-radius: 0.18rem;
}