*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
html,body{
    background-color: #ffffff;
}
.top{
    width: 100%;
    height: 0.74rem;
    overflow: hidden;
}
.top img{
    width: 1.97rem;
    height: 0.30rem;
    margin: 0.22rem auto;
}
.two{
    width: 100%;
    height: 0.61rem;
    overflow: hidden;
    margin-bottom: 0.25rem;
}
.two .two_center{
    width: 4.23rem;
    height: 0.61rem;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.two .recommend{
    position: relative;
    width: 2rem;
    height: 0.61rem;
    border-radius: 0.25rem;
    background: linear-gradient(to right,#ff7bb9,#ff639b);
    border: 0.03rem solid #ffe4f0;
    box-sizing: border-box;
}
.two .cc{
    width: 0.81rem;
    height: 0.24rem;
    margin: 0 auto;
    margin-top: 0.18rem;
    display: flex;
    justify-content: space-between;
}
.two span{
    display: block;
    font-size: 0.24rem;
    color: #ffffff;
    line-height: 0.24rem;
    text-align: center;
    margin-top: -0.03rem;
}
.two .attention span{
    color: #ff76b3;
    line-height: 0.24rem;
    margin-top: -0.03rem;
}
.two .btn{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 50%;
    background: #ffffff;
    margin-top: 0.1rem;
}
.two .attention{
    width: 2rem;
    right: 0.61rem;
    border-radius: 0.25rem;
    border: 0.03rem solid #ffe4f0;
    box-sizing: border-box;
}
.carousel{
    width: 100%;
    height: auto;
    background: #fafafa;
    padding-top: 0.38rem;
}
/* .carousel .car_two:nth-child(1){
    width: 7.03rem;
    height: 4.76rem;
    margin: 0 auto;
    position: relative;
}
.carousel .car_two:nth-child(1) .back{
    width: 7.03rem;
    height: 3.4rem;
    position: absolute;
    top: 0.1rem;
    left: 0;
    border-radius: 0.12rem;
}
.carousel .car_two:nth-child(1) #bayueba{
    width: 2.66rem;
    height: 0.64rem;
    margin: 0 auto;
    margin-top: 1.06rem;
    margin-bottom: 1.15rem;
    z-index: 111;
}
.carousel .car_two:nth-child(1) .shouxia{
    width: 6.54rem;
    height: 1.23rem;
    margin: 0 auto;
    border-radius: 0.05rem;
}
.carousel .car_two:nth-child(1) .yugao{
    width: 0.6rem;
    height: 0.48rem;
    border-top-left-radius: 0.03rem;
    border-bottom-left-radius: 0.03rem;
    border-bottom-right-radius: 0.03rem;
    background: linear-gradient(to bottom,#afc0fe,#85a0ff) ;
    position: absolute;
    top: 0;
    right: 0.48rem;
    font-size: 0.18rem;
    text-align: center;
    line-height: 0.48rem;
    color: #fff;
}
.carousel .car_two:nth-child(1) .banyuan{
    width: 0.1rem;
    height: 0.1rem;
    border-top-right-radius:0.1rem;
    background: #748ade;
    position: absolute;
    top: 0;
    right: 0.39rem;
}
.carousel .car_two:nth-child(1) .shouxia #img390{
    position: absolute;
    top: 0.24rem;
    left: 0.25rem;
    width: 0.76rem;
    height: 0.76rem;
    border-radius: 50%;
}
.carousel .car_two:nth-child(1) .shouxia .Chris{
    width: 4.95rem; 
    position: absolute;
    top: 0.29rem;
    left: 1.23rem;
}
.carousel .car_two:nth-child(1) .fentiao{
    width: 6.06rem;
    height: 0.16rem;
    background: #f46393;
    margin: 0 auto;
    border-bottom-left-radius: 0.05rem;
    border-bottom-right-radius: 0.05rem;
}
.carousel .car_two:nth-child(1) .points{
    width: 0.44rem;
    height: 0.11rem;
    margin: 0.3rem auto;
    display: flex;
    justify-content: space-between
}
.carousel .car_two:nth-child(1) .points .son{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #fbe6ed;
}
.carousel .car_two:nth-child(1) .points .son:nth-child(1){
    background: #f96697;
} */
.carousel .car_two{
    width: 7.03rem;
    height: 4.56rem;
    border-radius: 0.12rem;
    margin: 0 auto;
    margin-top: 0.36rem;
    position: relative;
    overflow: hidden;
}
.carousel .car_two img{
    width: 7.03rem;
    height: 3.1rem;
    border-top-left-radius: 0.12rem;
    border-top-right-radius: 0.12rem;
}
.carousel .car_two .shadow{
    width: 100%;
    height: 0.76rem;
    position: absolute;
    top: 2.34rem;
    left: 0;
    background: rgb(0, 0, 0,0.3);
}
.carousel .car_two .shadow span{
    display: block;
    font-size: 0.3rem;
    color: #fff;
    line-height: 0.76rem;
    margin-left: 0.48rem;
    opacity: 0.8;
}
.carousel .car_two .shouxia{
    width: 100%;
    height: 1.46rem;
    background: #fff;
    border-bottom-left-radius: 0.12rem;
    border-bottom-right-radius: 0.12rem;
    position: relative;
}
.carousel .car_two .shouxia #img39{
    position: absolute;
    top: 0.36rem;
    left: 0.49rem;
    width: 0.76rem;
    height: 0.76rem;
    border-radius: 50%;
}
.carousel .car_two .shouxia .Chris{
    height: 0.73rem;
    width: 5.06rem;
    position: absolute;
    top: 0.4rem;
    left: 1.5rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.carousel .car_two .shouxia .Chris .shang{
    width: 100%;
    height: 0.24rem;
    display: flex;
    justify-content: space-between;
}
.carousel .car_two .shouxia .Chris .shang .name{
    font-size: 0.24rem;
    font-weight: bold;
    color: #666666;
    letter-spacing: 0.01rem;
}
.carousel .car_two .shouxia .Chris .shang .data{
    font-size: 0.16rem;
    color: #b2b2b2;
}
.carousel .car_two .shouxia .Chris .xia{
    width: 100%;
    height: 0.35rem;
    display: flex;
    justify-content: space-between;
}
.carousel .car_two .shouxia .Chris .xia .guanzhu{
    width: auto;
    height: 0.35rem;
    background: #ffe9ee;
    border-radius: 0.15rem;
    font-size: 0.16rem;
    line-height: 0.35rem;
    color: #ff396c;
    text-align: center;
}
.carousel .car_two .shouxia .Chris .xia .other{
    width: 2.80rem;
    height: 0.18rem;
    display: flex;
    justify-content: space-between;
}
.carousel .car_two .shouxia .Chris .xia .other img{
    width: 0.43rem;
    height: 0.38rem;
    float: left;
}
.carousel .car_two .shouxia .Chris .xia .other div{
    height: 0.38rem;
}
.carousel .car_two .shouxia .Chris .xia .other span{
    font-size: 0.15rem;
    color: #b2b2b2;
    float: left;
}
/* .carousel .car_two:nth-child(3){
    background-image: url("../img/01c5f659eab460a801202b0cd5b4e9.jpg@1280w_1l_2o_100sh@2x.png");
    background-size: 7.03rem 4.56rem;
}
.carousel .car_two:nth-child(3) .shouxia{
    position: absolute;
    bottom: 0;
    left: 0;
}
.carousel .car_two:nth-child(4){
    background-image: url("../img/tuceng42@2x.png");
    background-size: 7.03rem 5.15rem;
}
.carousel .car_two:nth-child(4) .shouxia{
    position: absolute;
    bottom: 0;
    left: 0;
} */
.carousel .dixian{
    margin-top: 0.36rem; 
    width: 100%;
    height: 0.67rem;
    overflow: hidden;
}
.carousel .dixian .lines{
    width: 4.12rem;
    height: 0.16rem;
    display: flex;
    justify-content: space-between;
    margin: 0.27rem auto 0;
    overflow: hidden;
}
.carousel .dixian .lines .line{
    width: 1.26rem;
    height: 0.01rem;
    background: #f1f1f1;
    margin-top: 0.09rem;
}
.carousel .dixian .lines span{
    display: block;
    color: #e9e9e9;
    font-size: 0.08rem;
}
.attentions{
    width: 100%;
    height: auto;
    background: #fafafa;
}
.attentions .atten{
    width: 7.02rem;
    height: 3.2rem;
    background: #fff;
    margin: 0.36rem auto;
    border-radius: 0.05rem;
    position: relative;
    overflow: hidden;
}
.attentions .atten img{
    width: 7.02rem;
    height: 3.2rem;
    border-radius: 0.05rem;
    margin: 0 auto;
}
/* .attentions .atten:nth-child(1) img{
    width: 4.2rem;
    height: 3.2rem;
}
.attentions .atten:nth-child(1) #img1{
    width: 0.98rem;
    height: 0.98rem;
    position: absolute;
    top: 1.1rem;
    left: 2.89rem;
}
.attentions .atten:nth-child(1) .ship{
    width: 0.7rem;
    height: 0.35rem;
    position: absolute;
    top: 0.12rem;
    right: 0.19rem;
    background: #ffe9ee;
    color: #ff396c;
    font-size: 0.17rem;
    text-align: center;
    line-height: 0.35rem;
    border-radius: 0.12rem;
}
.attentions .atten:nth-child(2) #img01{
    width: 10rem;
    height: 4rem;
    margin-left: -1.5rem;
}
.attentions .atten:nth-child(4) #img1{
    width: 0.31rem;
    height: 0.36rem;
    position: absolute;
    top: 1.25rem;
    left: 3.34rem;
}
.attentions .atten:nth-child(4) .ship{
    width: 0.7rem;
    height: 0.35rem;
    position: absolute;
    top: 0.12rem;
    right: 0.19rem;
    background: #fe648a;
    color: #fdfefe;
    font-size: 0.17rem;
    text-align: center;
    line-height: 0.35rem;
    border-radius: 0.12rem;
}
.attentions .atten:nth-child(5) #img01{
    width: 7.5rem;
    height: 6rem;
    margin-top: -2.2rem;
    margin-left: -0.2rem;
} */
.attentions .atten .shouxia{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    border-radius: 0.05rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: rgb(0, 0, 0,0.2)
}
.attentions .atten .shouxia #img43{
    width: 0.76rem;
    height: 0.76rem;
    border-radius: 50%;
    position: absolute;
    top: 0.11rem;
    left: 0.36rem;
}
.attentions .atten .shouxia .Chris{
    width: 5.35rem;
    height: 0.75rem;
    position: absolute;
    top: 0.11rem;
    left: 1.3rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.attentions .atten .shouxia .Chris .shang{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 0.44rem;
}
.attentions .atten .shouxia .Chris .shang .name{
    width: 3.5rem;
    height: 100%;
    font-size: 0.26rem;
    line-height: 0.44rem;
    color: rgb(255, 255, 255,0.8);
}
.attentions .atten .shouxia .Chris .shang .data{
    width: 0.86rem;
    height: 0.14rem;
    font-size: 0.14rem;
    color: rgb(255, 255, 255,0.6);
}
.attentions .atten .shouxia .Chris .xia{
    width: 100%;
    height: 0.35rem;
    display: flex;
    justify-content: space-between;
}
.attentions .atten .shouxia .Chris .xia .ch{
    color: #dbd0c8;
    font-size: 0.18rem;
    line-height: 0.35rem;
}
.attentions .atten .shouxia .Chris .xia .other{
    width: 2.24rem;
    height: 0.18rem;
    display: flex;
    justify-content: space-between;
}
.attentions .atten .shouxia .Chris .xia .other img{
    width: 0.4rem;
    height: 0.35rem;
    float: left;
}
.attentions .atten .shouxia .Chris .xia .other div{
    height: 0.38rem;
}
.attentions .atten .shouxia .Chris .xia .other span{
    font-size: 0.15rem;
    color: #b2b2b2;
    float: left;
}