*{
    margin:0;
    padding:0;
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
html,body{
    background-color: #ffffff;
}
.top{
    width: 100%;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    font-size: 0.33rem;
    color: #ff649b;
}
.center{
    width: 100%;
    height: auto;
    background: #f4f4f4;
    overflow: hidden;
}
.center .like{
    width: 7.02rem;
    height: 1.13rem;
    margin: 0.35rem auto 0.48rem;
    display: flex;
    justify-content: space-between;
}
.center .like .likeyou{
    width: 3.39rem;
    height: 1.13rem;
    background: linear-gradient(#ff74a5,#fe86b1);
    position: relative;
}
.center .like .likeyou img{
    width: 0.76rem;
    height: 0.86rem;
    position: absolute;
    top: 0.18rem;
    left: 0.3rem;
}
.center .like .likeyou .likes{
    width: 1.25rem;
    height: 0.48rem;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    margin-left: 1.3rem; 
    margin-top: 0.25rem;
}
.center .like .likeyou .likes span:nth-child(1){
    font-size: 0.26rem;
    color: #ffe3ed;
}
.center .like .likeyou .likes span:nth-child(2){
    font-size: 0.12rem;
    color: #feb3ce;
}
.center .like .likeyou:nth-child(2){
    width: 3.39rem;
    height: 1.13rem;
    background: linear-gradient(#85baff,#97c4fe);
    position: relative;
}
.center .like .likeyou:nth-child(2) .likes span:nth-child(2){
    font-size: 0.12rem;
    color: #bed9fe;
}
.center .like .likeyou:nth-child(2) .tt{
    width: 0.33rem;
    height: 0.23rem;
    background: #70d5db;
    border-radius: 0.11rem;
    position: absolute;
    top: 0.2rem;
    left: 0.75rem;
    border-top: 0.03rem;
}
.center .like .likeyou:nth-child(2) .tt .jj{
    background: #5eeba4;
    width: 0.27rem;
    height: 0.17rem;
    color: #fff;
    font-size: 0.11rem;
    text-align: center;
    line-height: 0.17rem;
    border-radius: 0.7rem;
    margin: 0 auto;
    margin-top: 0.03rem;
}
.center .comment{
    width: 1.4rem;
    height: 0.26rem;
    display: flex;
    justify-content: space-between;
    margin-left: 0.24rem;
}
.center .comment .point{
    width: 0.07rem;
    height: 0.17rem;
    margin-top: 0.05rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center .comment .point .son{
    width: 0.07rem;
    height: 0.07rem;
    border-radius: 50%;
    background: #71dbff;
}
.center .comment .point .son:nth-child(1){
    background: #ff8aa8;
}
.center .comment span{
    display: block;
    font-size: 0.26rem;
    color: #444e59;
    margin-top: -0.06rem;
}
.center .comment span:nth-child(3){
    color: #ff649b;
}
.center .comments:nth-child(3){
    margin-top: 0.31rem;
}
.center .comments{
    width: 7.02rem;
    height: 1.98rem;
    background: #fff;
    margin: 0.04rem auto;
    position: relative;
    overflow: hidden;
}
.center .comments #img019{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    position: absolute;
    top: 0.64rem;
    left: 0.36rem;
}
.center .comments .oth{
    width: 5.46rem;
    height: 1.55rem;
    margin-top: 0.42rem;
    margin-left: 1.29rem;
}
.center .comments .top1{
    height: 0.89rem;
    width: 100%;
    position: relative;
}
.center .comments .top1 .color{
    width: 0.8rem;
    height: 0.8rem;
    background: #ffeff5;
    border-radius: 0.03rem;
    float: right;
}
.center .comments .top1 img{
    position: absolute;
    top: -0.1rem;
    right: 0.1rem;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.03rem;
}
.center .comments .top1 .top2{
    width: 4.33rem;
    height: 0.3rem;
}
.center .comments .top1 .top2 span:nth-child(1){
    font-size: 0.23rem;
    color: #666666;
    float: left;
}
.center .comments .top1 .top2 span:nth-child(2){
    font-size: 0.13rem;
    color: #b2b2b2;
    float: right;
}
.center .comments .top1 .bottom2{
    width: 3.58rem;
    height: 0.5rem;
    margin-top: 0.1rem;
}
.center .comments .top1 .bottom2 .sons{
    width: 0.05rem;
    height: 0.05rem;
    background: #ffc426;
    border-radius: 50%;
    margin-top: 0.19rem;
    float: left;
}
.center .comments .top1 .bottom2 span{
    width: 3.4rem;
    font-size: 0.21rem;
    color: #999999;
    float: left;
    margin-left: 0.05rem;
}
.center .comments .oth .bottom1{
    width: 5.31rem;
    height: 0.23rem;
    margin-top: 0.25rem;
    margin-left: 0.1rem;
    display: flex;
    justify-content: space-between;
}
.center .comments .oth .bottom1 span:nth-child(1){
    font-size: 0.18rem;
    color: #b2b2b2;
    margin-top: -0.03rem;
}
.center .comments .oth .bottom1 .look{
    width: 1.4rem;
    height: 0.2rem;
    display: flex;
    justify-content: space-between;
}
.center .comments .oth .bottom1 .look .looks{
    position: relative;
}
.center .comments .oth .bottom1 .look .looks img{
    width: 0.46rem;
    height: 0.39rem;
}
.center .comments .oth .bottom1 .look .looks span{
    font-size: 0.15rem;
    color: #b2b2b2;
    position: absolute;
    top: -0.03rem;
    left: 0.36rem;
}
.othercomment{
    width: 2.25rem;
    height: 0.21rem;
    float: right;
    margin-right: 0.24rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: space-between;
}
.othercomment span{
    font-size: 0.22rem;
    color: #afafaf;
    margin-top: -0.05rem;
}
.othercomment img{
    width: 0.11rem;
    height: 0.16rem;
}
.bottom{
    width: 100%;
    height: 1rem;
    background: #fefefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bottom div{
    width: 25%;
}
.bottom img{
    margin: 0  auto;
}
.bottom .talk{
    border-bottom: 0.04rem solid #74affd;   
    box-sizing: border-box;
    height: 1rem;
}
.bottom .house img{
    width: 0.35rem;
    height: 0.33rem;
}
.bottom .fingerpost img{
    width: 0.4rem;
    height: 0.34rem;
}
.bottom .talk{
    position: relative;
}
.bottom .talk img{
    width: 0.43rem;
    height: 0.45rem;
    margin-top: 0.25rem;
}
.bottom .talk .tt{
    width: 0.4rem;
    height: 0.27rem;
    background: #d1f7e4;
    border-radius: 0.12rem;
    position: absolute;
    top: 0.11rem;
    right: 0.5rem;
    border-top: 0.04rem;
}
.bottom .talk .tt .jj{
    background: #1bdd7b;
    width: 0.31rem;
    height: 0.19rem;
    color: #fff;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.19rem;
    border-radius: 0.7rem;
    margin: 0 auto;
    margin-top: 0.04rem;
}
.bottom .myself img{
    width: 0.34rem;
    height: 0.33rem;
}