*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
}
.sty{
    width: 7.03rem;
    height: 1.05rem;
    background: white;
    border-radius: 0.05rem; 
    margin: 0 auto;
    margin-top: 0.12rem;
}
.img_3{
    width: 0.9rem;
    height: 0.4rem;
    background: #00B8FF;
    border-radius: 0.3rem;
    font-size: 0.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 0.4rem;
}
.di{
    width: 3.25rem;
    height: 0.7rem;
    margin: 0 auto;
    background: #FF2F72;
    margin-top: 1.25rem;
    border-radius: 0.4rem;
    font-size: 0.3rem;
    font-weight: 600;
    color: white;
    text-align: center;
    line-height: 0.7rem;
}