<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/jianwang.css">
    <script src="../static/js/rem.js"></script>
    <title>检查网络</title>
</head>
<body>
  <div class="quan">
      <img src="../static/img/zm18.png" alt="" class="img1">
      <img src="../static/img/zm21.png" alt="" class="img2">
      <span class="text_a">抱歉 您的网络走丢了</span>
      <span class="text_b">要不刷新试试</span>
      <span class="text_c">检查网络</span>

  </div>  
</body>
</html>