<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/setting.css">
    <link rel="stylesheet" href="../static/css/myfabu.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header_con">
            <a href="javascript:history.back();">
                <div class="header_con_left">
                    <img src="../static/img/imgs/xz4.png" alt="" width="16" height="16" style="display:block">
                </div>
            </a>
            <div class="header_con_text">我的粉丝</div>
    </div>
    </div>
    <main>
        {% for item in data %}
        <a href="/user/{{ data.userid }}">
        <div class="sty">
            <img src="../static/img/head/{{item.headurl}}" alt="" class="img_1" width="50" height="50" style="display:block;float:left;border-radius: 50%">
            <div style="float:left">
                <p style="display:block;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.25rem ">{{ item.username }}</p>
                <p style="display:block;font-size: 0.15rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.08rem ">{{ item.autograph}}</p>
            </div>
            <!-- <div class='img_3' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.3rem;background: #FF3A80 ">已关注</div>             -->
        </div>
        </a>
        {% endfor %}
    </main>
</body>
</html>
<!-- <script>
    $('.img_3').on('click',function() {
        var name=$('.img_3').html()
        if(name=='已关注'){
            $('.img_3').css( {"background": "#FFD0E1" ,"color":'#FF3A80'})
            $('.img_3').html('关注')
        }
        else{
            $('.img_3').css( {"background": "#FF3A80","color":'white' })
            $('.img_3').html('已关注')
        }
            
    })

</script> -->