<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/foreshow.css">
</head>
<body>
    <div class="top">
        <a href="javascript:history.back(-1)">
            <img src="../static/img/xinzhuang2fu@2x.png" alt="">
        </a>
        <span>预告提醒</span>
    </div>
    <div class="center">
        <div class="other">
            {% for item in data %}
                <div class="point">
                    <div class="img1">
                        <img src="../static/img/noticeimg/{{ item.noticeimgurl }}" alt="">
                    </div>
                    <div class="right">
                        <span>{{ item.noticetitle }}</span>
                        <span>{{ item.n_content }}</span>
                        <div class="on">
                            <div class="color"></div>
                            <span>{{ item.time }}</span>
                        </div>
                        <div class="on">
                            <div class="color"></div>
                            <span>{{ item.address }}</span>
                        </div>
                        <div class="other">
                            <div class="one">&nbsp{{ item.flag }}&nbsp</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>