<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/foreshow.css">
</head>
<body>
    <div class="top">
        <a href="information.html">
            <img src="../static/img/形状2副本@2x.png" alt="">
        </a>
        <span>预告提醒</span>
    </div>
    <div class="center">
        <div class="other">
            <div class="point">
                <div class="img1">
                    <img src="../static/img/32-1FF3103015A6@2x.png" alt="">
                </div>
                <div class="right">
                    <span>阴阳师上海音乐节LBS温泉车</span>
                    <span>和风温泉 凉爽夏季 畅享对弈快感</span>
                    <div class="on">
                        <div class="color"></div>
                        <span>8.16  8.17 8.18 14:30-21:00</span>
                    </div>
                    <div class="on">
                        <div class="color"></div>
                        <span>上海外滩新世纪会馆中心</span>
                    </div>
                    <div class="other">
                        <div class="one">阴阳师</div>
                        <div class="one">温泉</div>
                        <div class="one">角色</div>
                    </div>
                </div>
            </div>
            <div class="point">
                <div class="img1">
                    <img src="../static/img/32-1FF3103015A6@2x.png" alt="">
                </div>
                <div class="right">
                    <span>阴阳师上海音乐节LBS温泉车</span>
                    <span>和风温泉 凉爽夏季 畅享对弈快感</span>
                    <div class="on">
                        <div class="color"></div>
                        <span>8.16  8.17 8.18 14:30-21:00</span>
                    </div>
                    <div class="on">
                        <div class="color"></div>
                        <span>上海外滩新世纪会馆中心</span>
                    </div>
                    <div class="other">
                        <div class="one">阴阳师</div>
                        <div class="one">温泉</div>
                        <div class="one">角色</div>
                    </div>
                </div>
            </div>
            <div class="point">
                <div class="img1">
                    <img src="../static/img/32-1FF3103015A6@2x.png" alt="">
                </div>
                <div class="right">
                    <span>阴阳师上海音乐节LBS温泉车</span>
                    <span>和风温泉 凉爽夏季 畅享对弈快感</span>
                    <div class="on">
                        <div class="color"></div>
                        <span>8.16  8.17 8.18 14:30-21:00</span>
                    </div>
                    <div class="on">
                        <div class="color"></div>
                        <span>上海外滩新世纪会馆中心</span>
                    </div>
                    <div class="other">
                        <div class="one">阴阳师</div>
                        <div class="one">温泉</div>
                        <div class="one">角色</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>