<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATO.Bomb</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="top">
        <img src="../static/img/Bomb@2x.png" alt="">
    </div>
    <div class="two">
        <div class="two_center">
            <div class="recommend">
                <div class="cc">
                    <div class="btn"></div>
                    <span class="tui">推荐</span>
                    <div class="btn"></div>
                </div>
            </div>
            <div class="attention">
                <div class="cc">
                    <div class="btn"></div>
                    <span class="guan">关注</span>
                    <div class="btn"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel" style="display:block">
        <div class="car_two">
            <img src="../static/img/72ef75c5f94e6ae73509932715201aa@2x.png" alt="" class="back">
            <img src="../static/img/八月八纽约时装周敬请期待@2x.png" alt="" id="bayueba">
            <div class="yugao">预告</div>
            <div class="banyuan"></div>
            <div class="shouxia">
                <img src="../static/img/色阶2@2x.png" alt="" id="img390">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">时尚芭莎</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <div class="guanzhu">关注</div>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fentiao"></div>
        </div>
        <div class="car_two">
            <img src="../static/img/图层36@2x.png" alt="">
            <div class="shadow">
                <span>脑洞大开，创意可以这样玩儿？！</span>
            </div>
            <div class="shouxia">
                <img src="../static/img/图层39@2x.png" alt="" id="img39">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">Chris.Brown</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <div class="guanzhu">关注</div>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="car_two">
                <!-- <img src="../staic/img/01c5f659eab460a801202b0cd5b4e9.jpg@1280w_1l_2o_100sh@2x.png" alt=""> -->
                <div class="shadow">
                    <span>反转魅力，#我有我的新性感#</span>
                </div>
                <div class="shouxia">
                    <img src="../static/img/图层43@2x.png" alt="" id="img39">
                    <div class="Chris">
                        <div class="shang">
                            <span class="name">Chris.Brown</span>
                            <span class="data">2018.7.24</span>
                        </div>
                        <div class="xia">
                            <div class="guanzhu">关注</div>
                            <div class="other">
                                <img src="../static/img/分享@2x.png" alt="">
                                <div class="pinglun">
                                    <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                    <span>250</span>
                                </div>
                                <div class="love">
                                    <img src="../static/img/形状11@2x.png" alt="">
                                    <span>2500</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="car_two">
                    <!-- <img src="../static/img/图层42@2x.png" alt=""> -->
                    <div class="shadow">
                        <span>#有一束光，璀璨一夏#</span>
                    </div>
                    <div class="shouxia">
                        <img src="../static/img/图层44@2x.png" alt="" id="img39">
                        <div class="Chris">
                            <div class="shang">
                                <span class="name">Chris.Brown</span>
                                <span class="data">2018.7.24</span>
                            </div>
                            <div class="xia">
                                <div class="guanzhu">关注</div>
                                <div class="other">
                                    <img src="../static/img/分享@2x.png" alt="">
                                    <div class="pinglun">
                                        <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                        <span>250</span>
                                    </div>
                                    <div class="love">
                                        <img src="../static/img/形状11@2x.png" alt="">
                                        <span>2500</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="dixian">
            <div class="lines">
                <div class="line"></div>
                <span>我可是很有底线的</span>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="attentions" style="display: none">
        <div class="atten">
            <img src="../static/img/色阶4@2x.png" alt="">
            <img src="../static/img/多边形1拷贝@2x.png" alt="" id="img1">
            <div class="ship">视频</div>
            <div class="shouxia">
                <img src="../static/img/图层43@2x.png" alt="" id="img43">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">想要变得更漂亮，我来帮你</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <span class="ch">Chris.Brown</span>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="atten">
            <img src="../static/img/013e055b077d02a801209a858f0902.jpg@1280w_1l_2o_100sh.webp@2x.png" alt="" id="img01">
            <div class="shouxia">
                <img src="../static/img/图层43@2x.png" alt="" id="img43">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">时尚潮夏，这个夏天我教你</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <span class="ch">Chris.Brown</span>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="atten">
            <img src="../static/img/图层11@2x.png" alt="">
            <div class="shouxia">
                <img src="../static/img/图层43@2x.png" alt="" id="img43">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">时尚之都 东京夜下的新风尚</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <span class="ch">Chris.Brown</span>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="atten">
            <img src="../static/img/30a27d69476919.5b830f3d46e54@2x.png" alt="">
            <img src="../static/img/多边形1@2x.png" alt="" id="img1">
            <div class="ship">视频</div>
            <div class="shouxia">
                <img src="../static/img/图层43@2x.png" alt="" id="img43">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">心怀大爱 一起来聆听“她说”</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <span class="ch">Chris.Brown</span>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="atten">
            <img src="../static/img/01e13e5b39cfd4a80121b994a5f22f.jpg@1280w_1l_2o_100sh@2x.png" alt="" id="img01">
            <div class="shouxia">
                <img src="../static/img/图层43@2x.png" alt="" id="img43">
                <div class="Chris">
                    <div class="shang">
                        <span class="name">确认过眼神 你是落伍的人</span>
                        <span class="data">2018.7.24</span>
                    </div>
                    <div class="xia">
                        <span class="ch">Chris.Brown</span>
                        <div class="other">
                            <img src="../static/img/分享@2x.png" alt="">
                            <div class="pinglun">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>250</span>
                            </div>
                            <div class="love">
                                <img src="../static/img/形状11@2x.png" alt="">
                                <span>2500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dixian">
            <div class="lines">
                <div class="line"></div>
                <span>我可是很有底线的</span>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="house">
            <img src="../static/img/Icon_Home副本@2x.png" alt="">
        </div>
        <div class="fingerpost">
            <img src="../static/img/形状49@2x.png" alt="">
        </div>
        <div class="talk">
            <a href="information.html">
                <img src="../static/img/形状86副本@2x.png" alt="">
                <div class="tt">
                    <div class="jj">3</div>
                </div>
            </a>
        </div>
        <div class="myself">
            <img src="../static/img/Icon_User@2x.png" alt="">
        </div>
    </div>
</body>
<script src="../static/js/jquery.min.js"></script>
<script>
    $(".attention").click(function(){
        $(".carousel").css("display","none")
        $(".attentions").css("display","block")
        $(".recommend").css("background","none")
        $(".attention").css("background","linear-gradient(to right,#ff7bb9,#ff639b)")
        $(".guan").css("color","#fff")
        $(".tui").css("color","#ff76b3")
    })
    $(".recommend").click(function(){
        $(".carousel").css("display","block")
        $(".attentions").css("display","none")
        $(".recommend").css("background","linear-gradient(to right,#ff7bb9,#ff639b)")
        $(".attention").css("background","none")
        $(".guan").css("color","#ff76b3")
        $(".tui").css("color","#fff")
    })
</script>
</html>