<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ATO.Bomb</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery.min.js"></script>
</head>
<style>
.bottom{
    width: 100%;
    height: 1rem;
    background: #fefefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.bottom div{
    width: 25%;
}
.bottom .searchbox{
    width: 25%;
    height: 100%;
    border-bottom: 0.04rem solid #74affd;
    box-sizing: border-box;
}
.bottom .searchboximg{
    display: block;
    margin-top: 0.1rem;
    margin-left: 0.55rem;
}
.bottom .talk{
    position: relative;
}


</style>
<body>
    <div class="top">
        <img src="../static/img/Bomb@2x.png" alt="">
    </div>
    <div class="two">
        <div class="two_center">
            <div class="recommend">
                <a href="javascript:;">
                    <div class="cc">
                        <div class="btn"></div>
                        <span class="tui">推荐</span>
                        <div class="btn"></div>
                    </div>
                </a>
            </div>
            <div class="attention">
                <a href="/gaze">
                    <div class="cc">
                        <div class="btn"></div>
                        <span class="guan">关注</span>
                        <div class="btn"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="carousel">
        {% for item in data %}
            <div class="car_two">
                <a href="/article/{{ item.articleid }}">
                    <img src="../static/img/articleurl/{{ item.imgurl }}" alt="">
                </a>
                <div class="shadow">
                    <span>{{ item.title }}</span>
                </div>
                <div class="shouxia">
                    <a href="/user/{{ item.userid }}">
                        <img src="../static/img/head/{{ item.headurl }}" alt="" id="img39">
                    </a>
                    <div class="Chris">
                        <div class="shang">
                            <span class="name">{{ item.username }}</span>
                            <span class="data">{{ item.a_time }}</span>
                        </div>
                        <div class="xia">
                            <div class="guanzhu" id="{{ item.userid }}">关注</div>
                            <div class="other">
                                <a href="javascript:;">
                                    <img src="../static/img/fenxiang.png" alt="">
                                </a>
                                <div class="pinglun">
                                    <img src="../static/img/Icon_Dialogue@2x.png" alt="">
                                    <span>{{ item.comment_num }}</span>
                                </div>
                                <div class="love">
                                    <img src="../static/img/xinzhuang11@2x.png" alt="">
                                    <span>{{ item.up }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="dixian">
            <div class="lines">
                <div class="line"></div>
                <span>我可是很有底线的</span>
                <div class="line"></div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="searchbox">
            <a href="/">
                <img src="../static/img/Icon_Home@2x.png" alt="" class="searchboximg">
            </a>
        </div>
        <div class="myself">
            <a href="/search">
                <img src="../static/img/xinzhuang49@2x.png" alt="" class="searchboximg">
            </a>
        </div>
        <div class="talk">
            <a href="/message">
                <img src="../static/img/xinzhuang86@2x.png" alt="" class="searchboximg">
            </a>
        </div>
        <div class="house">
            <a href="/aboutme">
                <img src="../static/img/Icon_User@2x.png" alt="" class="searchboximg">
            </a>
        </div>
    </div>
</body>
<script>
    $(".guanzhu").click(function(){
        var that=$(this)
        var id=that.attr('id')
        var ajax=new XMLHttpRequest()
        ajax.onload=function(ev){
            if(ajax.response='done'){
                that.html("已关注")
            }
        }
        ajax.open("get","/addfollow?userid="+id)
        ajax.send()
    })
</script>
</html>