<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>消息中心</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/information.css">
</head>
<style>
.bottom{
    width: 100%;
    height: 1rem;
    background: #fefefe;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}
.bottom div{
    width: 25%;
}
.bottom .searchbox{
    width: 25%;
    height: 100%;
    border-bottom: 0.04rem solid #74affd;
    box-sizing: border-box;
}
.bottom .searchboximg{
    display: block;
    margin-top: 0.1rem;
    margin-left: 0.55rem;
}
.bottom .talk{
    position: relative;
}


</style>
<body>
    <div class="top" style="font-weight: 600">消 息 中 心</div>
    <div class="center">
        <div class="like">
            <div class="likeyou">
                <a href="/like">
                    <img src="../static/img/tuceng55@2x.png" alt="">
                    <div class="likes">
                        <span>喜欢·你的</span>
                        <span>LIKE YOU</span>
                    </div>
                </a>
            </div>
            <div class="likeyou">
                <a href="/notice">
                    <img src="../static/img/tuceng56@2x.png" alt="">
                    <div class="likes">
                        <span>预告·提醒</span>
                        <span>REMIND</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="comment">
            <div class="point">
                <div class="son"></div>
                <div class="son"></div>
            </div>
            <span>评论</span>
            <span>专区</span>
        </div>
        {% if data %}
        {% for item in data %}
            <div class="comments">
                <img src="../static/img/head/{{ item.headurl }}" alt="" id="img019">
                <div class="oth">
                    <div class="top1">
                        <div class="color" style="background-color: #ffffff"></div>
                        <div class="top2">
                            <span>{{ item.username }}</span>
                            <span>{{ item.c_time }}</span>
                        </div>
                        <div class="bottom2">
                            <div class="sons"></div>
                            <span>回复了你： {{ item.c_content }}</span>
                        </div>
                    </div>
                    <div class="bottom1">
                        <a href="javascript:;">
                            <span>查看完整回复...</span>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
            <p style="font-size: 0.25rem;display: block;line-height: 0.5rem;color: #ccc;width: 100%;text-align: center">您还没有回复</p>
        {% endif %}
    </div>
    <div class="bottom">
        <div class="house">
            <a href="/">
                <img src="../static/img/index49.png" alt="" class="searchboximg">
            </a>
        </div>
        <div class="myself">
            <a href="/search">
                <img src="../static/img/xinzhuang49@2x.png" alt="" class="searchboximg">
            </a>
        </div>
        <div class="searchbox">
            <a href="/message">
                <img src="../static/img/Icon_Dialogue3@2x.png" alt="" class="searchboximg">
            </a>
        </div>
        <div class="talk">
            <a href="/aboutme">
                <img src="../static/img/Icon_User@2x.png" alt="" class="searchboximg">
            </a>
        </div>
    </div>
</body>
</html>