<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>消息中心</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/information.css">
</head>
<body>
    <div class="top">消 息 中 心</div>
    <div class="center">
        <div class="like">
            <div class="likeyou">
                <a href="like.html">
                    <img src="../static/img/图层55@2x.png" alt="">
                    <div class="likes">
                        <span>喜欢·你的</span>
                        <span>LIKE YOU</span>
                    </div>
                </a>
            </div>
            <div class="likeyou">
                <a href="foreshow.html">
                    <img src="../static/img/图层56@2x.png" alt="">
                    <div class="likes">
                        <span>预告·提醒</span>
                        <span>REMIND</span>
                    </div>
                    <div class="tt">
                        <div class="jj">3</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="comment">
            <div class="point">
                <div class="son"></div>
                <div class="son"></div>
            </div>
            <span>评论</span>
            <span>专区</span>
        </div>
        <div class="comments">
            <img src="../static/img/图层43@2x.png" alt="" id="img019">
            <div class="oth">
                <div class="top1">
                    <div class="color"></div>
                    <img src="../static/img/图层57@2x.png" alt="">
                    <div class="top2">
                        <span>蔡小葵</span>
                        <span>08.01</span>
                    </div>
                    <div class="bottom2">
                        <div class="sons"></div>
                        <span>回复了你： 小姐姐，真的好喜欢你推荐的咨询呦！！！</span>
                    </div>
                </div>
                <div class="bottom1">
                    <span>查看全部回复...</span>
                    <div class="look">
                        <div class="looks">
                            <img src="../static/img/查看@2x.png" alt="">
                            <span>16</span>
                        </div>
                        <div class="looks">
                            <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                            <span>12</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
                <img src="../static/img/图层43@2x.png" alt="" id="img019">
                <div class="oth">
                    <div class="top1">
                        <div class="color"></div>
                        <img src="../static/img/图层57@2x.png" alt="">
                        <div class="top2">
                            <span>蔡小葵</span>
                            <span>08.01</span>
                        </div>
                        <div class="bottom2">
                            <div class="sons"></div>
                            <span>回复了你： 小姐姐，真的好喜欢你推荐的咨询呦！！！</span>
                        </div>
                    </div>
                    <div class="bottom1">
                        <span>查看全部回复...</span>
                        <div class="look">
                            <div class="looks">
                                <img src="../static/img/查看@2x.png" alt="">
                                <span>16</span>
                            </div>
                            <div class="looks">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="othercomment">
            <span>查看其它相关评论</span>
            <img src="../static/img/more副本2@2x.png" alt="">
        </div>
        <div class="comments">
                <img src="../static/img/图层43@2x.png" alt="" id="img019">
                <div class="oth">
                    <div class="top1">
                        <div class="color"></div>
                        <img src="../static/img/图层57@2x.png" alt="">
                        <div class="top2">
                            <span>蔡小葵</span>
                            <span>08.01</span>
                        </div>
                        <div class="bottom2">
                            <div class="sons"></div>
                            <span>回复了你： 小姐姐，真的好喜欢你推荐的咨询呦！！！</span>
                        </div>
                    </div>
                    <div class="bottom1">
                        <span>查看全部回复...</span>
                        <div class="look">
                            <div class="looks">
                                <img src="../static/img/查看@2x.png" alt="">
                                <span>16</span>
                            </div>
                            <div class="looks">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="comments">
                <img src="../static/img/图层43@2x.png" alt="" id="img019">
                <div class="oth">
                    <div class="top1">
                        <div class="color"></div>
                        <img src="../static/img/图层57@2x.png" alt="">
                        <div class="top2">
                            <span>蔡小葵</span>
                            <span>08.01</span>
                        </div>
                        <div class="bottom2">
                            <div class="sons"></div>
                            <span>回复了你： 小姐姐，真的好喜欢你推荐的咨询呦！！！</span>
                        </div>
                    </div>
                    <div class="bottom1">
                        <span>查看全部回复...</span>
                        <div class="look">
                            <div class="looks">
                                <img src="../static/img/查看@2x.png" alt="">
                                <span>16</span>
                            </div>
                            <div class="looks">
                                <img src="../static/img/Icon_Dialogue拷贝@2x.png" alt="">
                                <span>12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="bottom">
        <div class="house">
            <a href="index.html">
                <img src="../static/img/Icon_User@2x.png" alt="">
            </a>
        </div>
        <div class="fingerpost">
            <img src="../static/img/形状49@2x.png" alt="">
        </div>
        <div class="talk">
            <img src="../static/img/Icon_Dialogue拷贝3@2x.png" alt="">
            <div class="tt">
                <div class="jj">3</div>
            </div>
        </div>
        <div class="myself">
            <img src="../static/img/Icon_User@2x.png" alt="">
        </div>
    </div>
</body>
</html>