<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>喜欢你的</title>
    <script src="../static/js/rem.js"></script>
    <link rel="stylesheet" href="../static/css/like.css">
</head>
<body>
    <div class="top">
        <a href="information.html">
            <img src="../static/img/形状2副本@2x.png" alt="">
        </a>
        <span>喜欢你的</span>
    </div>
    <div class="center">
        <div class="other">
            <div class="point">
                <img src="../static/img/图层43@2x.png" alt="">
                <div class="cen">
                    <span>蔡小葵</span>
                    <div class="like">
                        <div class="son"></div>
                        <span>给你一个大大的喜欢</span>
                        <span>2018.08.01</span>
                    </div>
                </div>
                <div class="color"></div>
                <img src="../static/img/图层57@2x.png" alt="">
            </div>
            <div class="point">
                <img src="../static/img/图层43@2x.png" alt="">
                <div class="cen">
                    <span>蔡小葵</span>
                    <div class="like">
                        <div class="son"></div>
                        <span>给你一个大大的喜欢</span>
                        <span>2018.08.01</span>
                    </div>
                </div>
                <div class="color"></div>
                <img src="../static/img/图层57@2x.png" alt="">
            </div>
            <div class="point">
                <img src="../static/img/图层43@2x.png" alt="">
                <div class="cen">
                    <span>蔡小葵</span>
                    <div class="like">
                        <div class="son"></div>
                        <span>给你一个大大的喜欢</span>
                        <span>2018.08.01</span>
                    </div>
                </div>
                <div class="color"></div>
                <img src="../static/img/图层57@2x.png" alt="">
            </div>
            <div class="point">
                <img src="../static/img/图层43@2x.png" alt="">
                <div class="cen">
                    <span>蔡小葵</span>
                    <div class="like">
                        <div class="son"></div>
                        <span>给你一个大大的喜欢</span>
                        <span>2018.08.01</span>
                    </div>
                </div>
                <div class="color"></div>
                <img src="../static/img/图层57@2x.png" alt="">
            </div>
            <div class="point">
                <img src="../static/img/图层43@2x.png" alt="">
                <div class="cen">
                    <span>蔡小葵</span>
                    <div class="like">
                        <div class="son"></div>
                        <span>给你一个大大的喜欢</span>
                        <span>2018.08.01</span>
                    </div>
                </div>
                <div class="color"></div>
                <img src="../static/img/图层57@2x.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>