<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/jquery-3.2.1.js"></script>
    <script src="../static/js/register2.js"></script>
    <link rel="stylesheet" href="../static/css/register2.css">
</head>
<body>
    <div class="nav">
            <div class="return"><a href=""></a></div>  
        <div class="reg"><a href="">注册</a>  </div>
    
    </div>
    <main>
        <div class="circle">
                <div class="left"></div>
                <div class="right"></div>
                <div class="step">
                    <div class="step2">
                        <div class="img">
                                <div class="yuan">
                        
                                    </div>
                        </div>
                    </div>
                    <div class="step1">
                        <div class="img"> <div class="yuan">
                        
                            </div></div>
                        <div class="word">头像上传</div>

                    </div>
                    <div class="step2">
                        <div class="img"></div>
                        <div class="word"></div>
                    </div>
                </div>
        </div>
        <form action="/register/uphead" method="post">
            <div class="head">

            </div>
            <div class="contain">
                    <div class="pai">
                        
                        </div>
                <div class="upload">
                            <input type="file" autofocus style="display:none" id='input'>
                    
                    </div>

            </div>

            <button class="login" >下一步</button>
        </form>
    </main>
</body>
</html>