<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/setting.css">
    <link rel="stylesheet" href="../static/css/myfabu.css">
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/rem.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="header">
            <div class="header_con">
                <a href="javascript:history.back();">
                    <div class="header_con_left">
                        <img src="../static/img/imgs/xz4.png" alt="" width="16" height="16" style="display:block">
                    </div>
                </a>
                <div class="header_con_text">设置</div>
        </div>
        </div>
    <main>
        <div class="sty" style="margin-top:0.3rem;">
            <a href="/setting/message">
                <img src="../static/img/imgs/yj1.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">消息设置</p>
                <img src="../static/img/imgs/tuceng2.png" alt="" class='img_2' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.2rem " width="45" height="40">
            </a>
        </div>
        <div class="sty">
            <a href="">
                <img src="../static/img/imgs/tuceng75.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">清除缓存</p>
                <div class='img_3' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.3rem ">30M</div>
            </a>
        </div>
        <div class="sty">
            <a href="">
                <img src="../static/img/imgs/banben.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">关于版本</p>
                <div class='img_3' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.3rem;background: #15C65A ">更新</div>            </a>
        </div>
        <div class="sty">
            <a href="">
                <img src="../static/img/imgs/yj2.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">意见反馈</p>
                <img src="../static/img/imgs/tuceng2.png" alt="" class='img_2' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.2rem " width="45" height="40">
            </a>
        </div>
        <div class="sty">
            <a href="">
                <img src="../static/img/imgs/gengxin.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">功能更新</p>
                <img src="../static/img/imgs/tuceng2.png" alt="" class='img_2' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.2rem " width="45" height="40">
            </a>
        </div>
        <div class="sty">
            <a href="">
                <img src="../static/img/imgs/tuoyuan13.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">帮助</p>
                <img src="../static/img/imgs/tuceng2.png" alt="" class='img_2' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.2rem " width="45" height="40">
            </a>
        </div>
        <div class="sty">
            <a href="">
                <img src="../static/img/imgs/yj3.png" alt="" class="img_1" width="57" height="57" style="display:block;float:left">
                <p style="display:block;float:left;font-size: 0.25rem;font-weight: 600;color: #666666;margin-left: 0.15rem;margin-top:0.35rem ">重置密码</p>
                <img src="../static/img/imgs/tuceng2.png" alt="" class='img_2' style="display:block;float: right;margin-right:0.15rem;margin-top: 0.2rem " width="45" height="40">
            </a>
        </div>

    </main>
    <a href="">
        <div class="di">
            退出登录
        </div>
    </a>
</body>
</html>