<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/start.css">
    <script src="../static/js/rem.js"></script>
    <script src="../static/js/start.js"></script>
    <title>Document</title>
</head>
<body>
    <ul class="hu">
        <li class="shou_one_one_one" >
            <div class="quan">
                <img src="../static/img/zm25.png" alt="" class="img1">
                <img src="../static/img/zm26.png" alt="" class="img2">
                <img src="../static/img/zm27.png" alt="" class="img3">
                <img src="../static/img/zm28.png" alt="" class="img4">
                <img src="../static/img/zm29.png" alt="" class="img5">        
            </div>
        </li>
    </ul>
    <ul class="shou_one">
        <li class="shou_one_one" style="z-index: 10;">
            <div class="quan1">
                <img src="../static/img/zm30.png" alt="" class="img11">
                <img src="../static/img/zm31.png" alt="" class="img21">
                <img src="../static/img/zm32.png" alt="" class="img31">
                <img src="../static/img/zm33.png" alt="" class="img41">
                <img src="../static/img/zm34.png" alt="" class="img51">
                <img src="../static/img/zm35.png" alt="" class="img61">
                <img src="../static/img/zm36.png" alt="" class="img71">
                <img src="../static/img/zm37.png" alt="" class="img81">
                <img src="../static/img/zm38.png" alt="" class="img91">
                <div class="radis">
                    <div style="background: #2591FD"></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </li>
        <li class="shou_one_one">
            <div class="quan2">
                <img src="../static/img/zm39.png" alt="" class="img12">
                <img src="../static/img/zm40.png" alt="" class="img82">
                <img src="../static/img/zm41.png" alt="" class="img102">
                <img src="../static/img/zm42.png" alt="" class="img92">
                <div class="radis">
                    <div></div>
                    <div  style="background: #2591FD"></div>
                    <div></div>
                </div>
            </div>  
        </li>
        <li class="shou_one_one">
            <div class="quan3">
                <img src="../static/img/zm43.png" alt="" class="img13">
                <a href="/"><span>进入</span></a>
                <img src="../static/img/zm44.png" alt="" class="img103">
                <img src="../static/img/zm45.png" alt="" class="img93">
            </div>
        </li>
        <div class="a" style="z-index: 30;"></div>
        <div class="b" style="z-index: 30;"></div>
    </ul>
</body>
</html>